In [67]:
# Import our dependencies
import pandas as pd
from path import Path
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
# Keras
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [68]:
# Import our clean dataset
file_path = Path("../clean_data/combined_olympic_data.csv")
df = pd.read_csv(file_path)
df.head(10)

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,total
0,Afghanistan,33370794,613.856689,0.465,0.676,12,1
1,Albania,2889104,4578.631994,0.733,0.267,33,0
2,United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0
3,Argentina,42669500,12334.798250,0.836,0.364,34,4
4,Armenia,2912403,3986.231624,0.733,0.299,37,2
5,Australia,23475686,62510.791170,0.935,0.123,80,38
6,Austria,8546356,51717.495940,0.885,0.083,72,17
7,Azerbaijan,9535079,7891.313147,0.751,0.330,29,9
8,Burundi,9844297,274.857948,0.400,0.483,20,0
9,Belgium,11209057,47700.540360,0.890,0.076,76,3

In [69]:
df["total"].value_counts()

0      75
1      18
2       8
3       6
4       5
6       5
8       4
17      3
5       3
9       3
12      3
13      3
7       2
15      2
18      2
38      2
100     1
19      1
16      1
21      1
23      1
31      1
36      1
43      1
44      1
46      1
50      1
63      1
70      1
97      1
132     1
Name: total, dtype: int64

In [70]:
bin_labels = ['0', '1-5', '6-10', '11-30', '31-50', '51+']
num_bins = len(bin_labels)

df['medal_grouping'] = pd.cut(df['total'],
                              bins=[-1, 0, 5, 10, 30, 50, 140],
                              labels=bin_labels)
df['numerical_medal_grouping'] = pd.cut(df['total'],
                              bins=[-1, 0, 5, 10, 30, 50, 140],
                              labels=range(num_bins))

In [71]:
df['medal_grouping'].value_counts()

0        75
1-5      40
11-30    17
6-10     14
31-50     8
51+       5
Name: medal_grouping, dtype: int64

In [72]:
new_df = df.rename(columns={"total": "count_of_medals"})
new_df.head()

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping
0,Afghanistan,33370794,613.856689,0.465,0.676,12,1,1-5,1
1,Albania,2889104,4578.631994,0.733,0.267,33,0,0,0
2,United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0,0,0
3,Argentina,42669500,12334.798250,0.836,0.364,34,4,1-5,1
4,Armenia,2912403,3986.231624,0.733,0.299,37,2,1-5,1

### Split our preprocessed data into our features and target arrays

In [73]:
# Create our target
y = new_df["numerical_medal_grouping"].values
y[:20]

[1, 0, 0, 1, 1, ..., 1, 0, 3, 0, 3]
Length: 20
Categories (6, int64): [0 < 1 < 2 < 3 < 4 < 5]

In [74]:
# Optimizing and transforming features
# Transforming CPI to values between 0-1
new_df["corruption_perceptions_index"] = new_df["corruption_perceptions_index"] / 100
# Transforming GII to invert values. Higher values will now correspond to more gender equality.
new_df["gender_inequality_index"] = 1 - new_df["gender_inequality_index"]
# Replacing GDP per capita with total GDP
new_df["gdp_total"] = new_df["population"] * new_df["gdp_per_capita"]
new_df.head()

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping,gdp_total
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10
1,Albania,2889104,4578.631994,0.733,0.733,0.33,0,0,0,1.322814e+10
2,United Arab Emirates,9214175,43751.838890,0.835,0.753,0.70,0,0,0,4.031371e+11
3,Argentina,42669500,12334.798250,0.836,0.636,0.34,4,1-5,1,5.263197e+11
4,Armenia,2912403,3986.231624,0.733,0.701,0.37,2,1-5,1,1.160951e+10

In [75]:
# Create our features
X = new_df.drop(["country_name","count_of_medals", "medal_grouping", "numerical_medal_grouping"], axis=1).values
X

array([[3.33707940e+07, 6.13856689e+02, 4.65000000e-01, 3.24000000e-01,
        1.20000000e-01, 2.04848851e+10],
       [2.88910400e+06, 4.57863199e+03, 7.33000000e-01, 7.33000000e-01,
        3.30000000e-01, 1.32281440e+10],
       [9.21417500e+06, 4.37518389e+04, 8.35000000e-01, 7.53000000e-01,
        7.00000000e-01, 4.03137100e+11],
       [4.26695000e+07, 1.23347982e+04, 8.36000000e-01, 6.36000000e-01,
        3.40000000e-01, 5.26319674e+11],
       [2.91240300e+06, 3.98623162e+03, 7.33000000e-01, 7.01000000e-01,
        3.70000000e-01, 1.16095129e+10],
       [2.34756860e+07, 6.25107912e+04, 9.35000000e-01, 8.77000000e-01,
        8.00000000e-01, 1.46748371e+12],
       [8.54635600e+06, 5.17174959e+04, 8.85000000e-01, 9.17000000e-01,
        7.20000000e-01, 4.41996132e+11],
       [9.53507900e+06, 7.89131315e+03, 7.51000000e-01, 6.70000000e-01,
        2.90000000e-01, 7.52442943e+10],
       [9.84429700e+06, 2.74857948e+02, 4.00000000e-01, 5.17000000e-01,
        2.00000000e-01, 2.70578327e+09],
       [1.12090570e+07, 4.77005404e+04, 8.90000000e-01, 9.24000000e-01,
        7.60000000e-01, 5.34678076e+11],
       [1.02868420e+07, 1.29140981e+03, 4.80000000e-01, 3.91000000e-01,
        3.90000000e-01, 1.32845287e+10],
       [1.75860170e+07, 7.92846778e+02, 4.02000000e-01, 3.93500000e-01,
        3.80000000e-01, 1.39430169e+10],
       [1.54520167e+08, 1.11885366e+03, 5.70000000e-01, 4.73000000e-01,
        2.50000000e-01, 1.72885455e+11],
       [7.22393800e+06, 7.87426090e+03, 7.82000000e-01, 7.74000000e-01,
        4.30000000e-01, 5.68831726e+10],
       [1.33607500e+06, 2.49894001e+04, 8.24000000e-01, 7.76000000e-01,
        4.90000000e-01, 3.33877128e+10],
       [3.70633000e+05, 2.94450305e+04, 7.90000000e-01, 6.30000000e-01,
        7.10000000e-01, 1.09133000e+10],
       [3.48210400e+06, 5.32963504e+03, 7.33000000e-01, 8.28000000e-01,
        3.90000000e-01, 1.85583435e+10],
       [9.47451100e+06, 8.31851269e+03, 7.98000000e-01, 8.54000000e-01,
        3.10000000e-01, 7.88138400e+10],
       [1.07065170e+07, 3.08187883e+03, 6.62000000e-01, 5.49000000e-01,
        3.50000000e-01, 3.29961881e+10],
       [2.02763735e+08, 1.21125882e+04, 7.55000000e-01, 5.80000000e-01,
        4.30000000e-01, 2.45599363e+12],
       [2.84825000e+05, 1.64890722e+04, 7.85000000e-01, 7.09000000e-01,
        7.40000000e-01, 4.69650000e+09],
       [7.19056000e+05, 2.65221459e+03, 6.05000000e-01, 5.04000000e-01,
        6.50000000e-01, 1.90709081e+09],
       [2.08861400e+06, 7.78063838e+03, 6.98000000e-01, 5.55000000e-01,
        6.30000000e-01, 1.62507503e+10],
       [4.46417500e+06, 4.24448751e+02, 3.50000000e-01, 3.44000000e-01,
        2.40000000e-01, 1.89481350e+09],
       [3.54374350e+07, 5.08934467e+04, 9.13000000e-01, 8.98000000e-01,
        8.10000000e-01, 1.80353321e+12],
       [8.18864900e+06, 8.66055634e+04, 9.30000000e-01, 9.55000000e-01,
        8.60000000e-01, 7.09182560e+11],
       [1.77589590e+07, 1.46709968e+04, 8.32000000e-01, 6.75000000e-01,
        7.30000000e-01, 2.60541630e+11],
       [1.36427000e+09, 7.67859943e+03, 7.27000000e-01, 8.32000000e-01,
        3.60000000e-01, 1.04756828e+13],
       [2.26476830e+07, 1.56146366e+03, 4.62000000e-01, 3.28000000e-01,
        3.20000000e-01, 3.53635339e+10],
       [2.26818580e+07, 1.54262027e+03, 5.12000000e-01, 4.28000000e-01,
        2.70000000e-01, 3.49894938e+10],
       [7.37674470e+07, 4.86787082e+02, 4.33000000e-01, 3.43000000e-01,
        2.20000000e-01, 3.59090403e+10],
       [4.73697400e+06, 2.99691803e+03, 5.91000000e-01, 4.06000000e-01,
        2.30000000e-01, 1.41963228e+10],
       [4.69692090e+07, 8.11408407e+03, 7.20000000e-01, 6.01000000e-01,
        3.70000000e-01, 3.81112110e+11],
       [4.79539600e+06, 1.05471519e+04, 7.66000000e-01, 6.87000000e-01,
        5.40000000e-01, 5.05777698e+10],
       [1.13069020e+07, 7.13334209e+03, 7.69000000e-01, 6.93000000e-01,
        4.60000000e-01, 8.06560000e+10],
       [1.15228500e+06, 2.71296261e+04, 8.50000000e-01, 8.80000000e-01,
        6.30000000e-01, 3.12610612e+10],
       [1.05253470e+07, 1.97445586e+04, 8.70000000e-01, 8.66000000e-01,
        5.10000000e-01, 2.07818331e+11],
       [8.09825000e+07, 4.79599933e+04, 9.16000000e-01, 9.27000000e-01,
        7.90000000e-01, 3.88392015e+12],
       [5.64347500e+06, 6.25489847e+04, 9.23000000e-01, 9.57000000e-01,
        9.20000000e-01, 3.52993632e+11],
       [1.01651780e+07, 6.60882810e+03, 7.15000000e-01, 5.24000000e-01,
        3.20000000e-01, 6.71799140e+10],
       [3.89236870e+07, 5.49302559e+03, 7.36000000e-01, 5.71000000e-01,
        3.60000000e-01, 2.13808809e+11],
       [1.59518380e+07, 6.37709153e+03, 7.32000000e-01, 6.06000000e-01,
        3.30000000e-01, 1.01726331e+11],
       [9.04246540e+07, 3.37883136e+03, 6.90000000e-01, 4.25000000e-01,
        3.70000000e-01, 3.05529656e+11],
       [4.64808820e+07, 2.94615503e+04, 8.76000000e-01, 9.13000000e-01,
        6.00000000e-01, 1.36939884e+12],
       [1.31454500e+06, 2.03671027e+04, 8.61000000e-01, 8.46000000e-01,
        6.90000000e-01, 2.67734730e+10],
       [9.80942530e+07, 5.66926467e+02, 4.42000000e-01, 4.69000000e-01,
        3.30000000e-01, 5.56122282e+10],
       [5.46151200e+06, 5.02602999e+04, 8.83000000e-01, 9.40000000e-01,
        8.90000000e-01, 2.74497231e+11],
       [6.63120670e+07, 4.30112631e+04, 8.88000000e-01, 8.97000000e-01,
        6.90000000e-01, 2.85216576e+12],
       [1.88380000e+06, 9.66342924e+03, 6.84000000e-01, 4.53000000e-01,
        3.70000000e-01, 1.82039680e+10],
       [6.46022980e+07, 4.74256077e+04, 9.07000000e-01, 8.51000000e-01,
        7.80000000e-01, 3.06380324e+12],
       [3.71941400e+06, 4.73918834e+03, 7.54000000e-01, 6.37000000e-01,
        5.20000000e-01, 1.76270035e+10],
       [2.72244720e+07, 1.97103335e+03, 5.79000000e-01, 4.52000000e-01,
        4.80000000e-01, 5.36603422e+10],
       [2.02404200e+06, 6.07428404e+02, 4.41000000e-01, 3.58000000e-01,
        2.90000000e-01, 1.22946060e+09],
       [1.08924130e+07, 2.17609798e+04, 8.65000000e-01, 8.79000000e-01,
        4.30000000e-01, 2.37029579e+11],
       [1.53063160e+07, 3.77964233e+03, 6.27000000e-01, 4.97000000e-01,
        3.20000000e-01, 5.78523998e+10],
       [7.63380000e+05, 4.03160066e+03, 6.36000000e-01, 4.91000000e-01,
        3.00000000e-01, 3.07764331e+09],
       [8.95558900e+06, 2.20605193e+03, 6.06000000e-01, 5.34000000e-01,
        2.90000000e-01, 1.97564944e+10],
       [4.23838900e+06, 1.36001944e+04, 8.18000000e-01, 8.80000000e-01,
        4.80000000e-01, 5.76429143e+10],
       [1.05490080e+07, 8.31873949e+02, 4.83000000e-01, 4.03000000e-01,
        1.90000000e-01, 8.77544494e+09],
       [9.86646800e+06, 1.42461098e+04, 8.28000000e-01, 7.51000000e-01,
        5.40000000e-01, 1.40558786e+11],
       [2.55129004e+08, 3.49162479e+03, 6.84000000e-01, 5.28000000e-01,
        3.40000000e-01, 8.90814755e+11],
       [1.29560418e+09, 1.57388149e+03, 6.09000000e-01, 4.56000000e-01,
        3.80000000e-01, 2.03912745e+12],
       [4.65774000e+06, 5.54929827e+04, 9.16000000e-01, 8.65000000e-01,
        7.40000000e-01, 2.58471885e+11],
       [7.74657530e+07, 5.58552676e+03, 7.66000000e-01, 4.86000000e-01,
        2.70000000e-01, 4.32687036e+11],
       [3.44119510e+07, 6.81880462e+03, 6.54000000e-01, 4.72000000e-01,
        1.60000000e-01, 2.34648370e+11],
       [3.27386000e+05, 5.42419347e+04, 8.99000000e-01, 9.35000000e-01,
        7.90000000e-01, 1.77580500e+10],
       [8.21570000e+06, 3.76788898e+04, 8.94000000e-01, 8.82000000e-01,
        6.00000000e-01, 3.09558455e+11],
       [6.07891400e+07, 3.55184153e+04, 8.73000000e-01, 9.15000000e-01,
        4.30000000e-01, 2.15913392e+12],
       [2.87513600e+06, 4.83379032e+03, 7.19000000e-01, 5.74000000e-01,
        3.80000000e-01, 1.38978046e+10],
       [8.92004900e+06, 4.07276548e+03, 7.48000000e-01, 5.20000000e-01,
        4.90000000e-01, 3.63292676e+10],
       [1.27276000e+08, 3.81094121e+04, 8.91000000e-01, 8.76000000e-01,
        7.60000000e-01, 4.85041354e+12],
       [1.72882850e+07, 1.28072607e+04, 7.88000000e-01, 7.97000000e-01,
        2.90000000e-01, 2.21415573e+11],
       [4.66999810e+07, 1.31580453e+03, 5.48000000e-01, 4.31000000e-01,
        2.50000000e-01, 6.14480468e+10],
       [5.83550000e+06, 1.27976978e+03, 6.55000000e-01, 6.20000000e-01,
        2.70000000e-01, 7.46809657e+09],
       [1.52745030e+07, 1.09349619e+03, 5.55000000e-01, 5.18000000e-01,
        2.10000000e-01, 1.67026108e+10],
       [5.07466590e+07, 2.92495752e+04, 8.98000000e-01, 9.29000000e-01,
        5.50000000e-01, 1.48431822e+12],
       [3.69094100e+06, 4.40623170e+04, 8.16000000e-01, 6.60000000e-01,
        4.40000000e-01, 1.62631413e+11],
       [6.63975600e+06, 1.99833521e+03, 5.75000000e-01, 5.25000000e-01,
        2.50000000e-01, 1.32684582e+10],
       [6.26241000e+06, 7.68625603e+03, 7.69000000e-01, 6.14000000e-01,
        2.70000000e-01, 4.81344866e+10],
       [4.35950500e+06, 7.21182795e+02, 4.30000000e-01, 3.51000000e-01,
        3.70000000e-01, 3.14400000e+09],
       [6.36203700e+06, 6.46691027e+03, 7.24000000e-01, 8.31000000e-01,
        1.80000000e-01, 4.11427224e+10],
       [1.78296000e+05, 9.84391582e+03, 7.29000000e-01, 6.33000000e-01,
        7.10000000e-01, 1.75513081e+09],
       [2.07780000e+07, 3.81925353e+03, 7.57000000e-01, 6.15000000e-01,
        3.80000000e-01, 7.93564498e+10],
       [2.04343700e+06, 1.22333303e+03, 4.97000000e-01, 4.51000000e-01,
        4.90000000e-01, 2.49980398e+09],
       [2.93236700e+06, 1.65484064e+04, 8.39000000e-01, 8.72000000e-01,
        5.80000000e-01, 4.85260009e+10],
       [5.56319000e+05, 1.18823648e+05, 8.92000000e-01, 9.19000000e-01,
        8.20000000e-01, 6.61038533e+10],
       [1.99378200e+06, 1.57403268e+04, 8.19000000e-01, 8.05000000e-01,
        5.50000000e-01, 3.13827801e+10],
       [3.41923470e+07, 3.17169919e+03, 6.28000000e-01, 4.83000000e-01,
        3.90000000e-01, 1.08447839e+11],
       [2.85695000e+06, 3.32880145e+03, 6.93000000e-01, 7.50000000e-01,
        3.50000000e-01, 9.51021930e+09],
       [1.20355128e+08, 1.09223761e+04, 7.56000000e-01, 6.45000000e-01,
        3.50000000e-01, 1.31456397e+12],
       [2.07777500e+06, 5.46848087e+03, 7.47000000e-01, 8.40000000e-01,
        4.50000000e-01, 1.13622728e+10],
       [1.69342200e+07, 8.48302758e+02, 4.19000000e-01, 3.14000000e-01,
        3.20000000e-01, 1.43653455e+10],
       [4.34558000e+05, 2.60088277e+04, 8.39000000e-01, 7.87000000e-01,
        5.50000000e-01, 1.13023442e+10],
       [5.22808070e+07, 1.25182076e+03, 5.36000000e-01, 5.57000000e-01,
        2.10000000e-01, 6.54461998e+10],
       [6.21810000e+05, 7.38814779e+03, 8.02000000e-01, 8.37000000e-01,
        4.20000000e-01, 4.59402418e+09],
       [2.94010800e+06, 4.15852571e+03, 7.27000000e-01, 7.17000000e-01,
        3.90000000e-01, 1.22265147e+10],
       [2.62861630e+07, 6.73969955e+02, 4.16000000e-01, 4.19500000e-01,
        3.10000000e-01, 1.77160841e+10],
       [3.93089600e+06, 1.67710817e+03, 5.06000000e-01, 3.70000000e-01,
        3.00000000e-01, 6.59253778e+09],
       [1.26093400e+06, 1.01539382e+04, 7.77000000e-01, 6.45000000e-01,
        5.40000000e-01, 1.28034459e+10],
       [1.62895400e+07, 3.71269750e+02, 4.45000000e-01, 3.84000000e-01,
        3.30000000e-01, 6.04781344e+09],
       [2.98665590e+07, 1.13190798e+04, 7.79000000e-01, 7.13000000e-01,
        5.20000000e-01, 3.38061963e+11],
       [2.27343000e+06, 5.43517191e+03, 6.28000000e-01, 5.12500000e-01,
        4.90000000e-01, 1.23564829e+10],
       [1.92401570e+07, 5.62121845e+02, 3.48000000e-01, 3.02000000e-01,
        3.50000000e-01, 1.08153125e+10],
       [6.14273300e+06, 1.93406951e+03, 6.31000000e-01, 5.34000000e-01,
        2.80000000e-01, 1.18804726e+10],
       [1.68650080e+07, 5.28301742e+04, 9.22000000e-01, 9.56000000e-01,
        8.30000000e-01, 8.90981311e+11],
       [5.13723200e+06, 9.70191828e+04, 9.44000000e-01, 9.43000000e-01,
        8.60000000e-01, 4.98410050e+11],
       [2.69069260e+07, 7.43413381e+02, 5.48000000e-01, 4.94000000e-01,
        2.90000000e-01, 2.00029688e+10],
       [4.50970000e+06, 4.45532822e+04, 9.13000000e-01, 8.35000000e-01,
        9.10000000e-01, 2.00921937e+11],
       [4.02726000e+06, 2.01319167e+04, 7.93000000e-01, 7.16000000e-01,
        4.50000000e-01, 8.10764629e+10],
       [1.95306825e+08, 1.25116410e+03, 5.38000000e-01, 4.50000000e-01,
        2.90000000e-01, 2.44360889e+11],
       [3.90131500e+06, 1.27960700e+04, 7.80000000e-01, 5.42000000e-01,
        3.70000000e-01, 4.99215000e+10],
       [3.00903590e+07, 6.67288026e+03, 7.34000000e-01, 6.11000000e-01,
        3.80000000e-01, 2.00789362e+11],
       [1.00513138e+08, 2.95964845e+03, 6.68000000e-01, 5.64000000e-01,
        3.80000000e-01, 2.97483553e+11],
       [7.94673100e+06, 2.92078372e+03, 5.05000000e-01, 4.03000000e-01,
        2.50000000e-01, 2.32106825e+10],
       [3.80117350e+07, 1.43479146e+04, 8.43000000e-01, 8.54000000e-01,
        6.10000000e-01, 5.45389127e+11],
       [3.53487400e+06, 2.89814573e+04, 9.15000000e-01, 7.86000000e-01,
        6.30000000e-01, 1.02445800e+11],
       [2.50577520e+07, 6.94395890e+02, 7.10000000e-01, 6.17000000e-01,
        8.00000000e-02, 1.74000000e+10],
       [1.04010620e+07, 2.20743008e+04, 8.30000000e-01, 8.97000000e-01,
        6.30000000e-01, 2.29596171e+11],
       [6.59952600e+06, 6.10294323e+03, 6.79000000e-01, 5.32000000e-01,
        2.40000000e-01, 4.02765325e+10],
       [2.45919800e+06, 8.38585284e+04, 8.50000000e-01, 4.54000000e-01,
        6.90000000e-01, 2.06224725e+11],
       [1.99089790e+07, 1.00269736e+04, 7.93000000e-01, 6.58000000e-01,
        4.30000000e-01, 1.99626806e+11],
       [1.43819666e+08, 1.40956487e+04, 7.98000000e-01, 7.14000000e-01,
        2.70000000e-01, 2.02723149e+12],
       [1.10836350e+07, 7.47000512e+02, 4.83000000e-01, 6.06000000e-01,
        4.90000000e-01, 8.27948102e+09],
       [3.09169940e+07, 2.44639032e+04, 8.37000000e-01, 7.38000000e-01,
        4.90000000e-01, 7.56350347e+11],
       [3.79776550e+07, 1.70999960e+03, 4.79000000e-01, 4.05000000e-01,
        1.10000000e-01, 6.49417750e+10],
       [1.41747310e+07, 1.39665822e+03, 4.66000000e-01, 4.75000000e-01,
        4.30000000e-01, 1.97972546e+10],
       [5.46972400e+06, 5.75625308e+04, 9.12000000e-01, 9.31000000e-01,
        8.40000000e-01, 3.14851156e+11],
       [7.01714400e+06, 7.14700712e+02, 4.13000000e-01, 3.47000000e-01,
        3.10000000e-01, 5.01515782e+09],
       [6.29512800e+06, 3.58904219e+03, 6.66000000e-01, 6.03000000e-01,
        3.90000000e-01, 2.25934800e+10],
       [7.13057600e+06, 6.60005665e+03, 7.71000000e-01, 8.13000000e-01,
        4.10000000e-01, 4.70622055e+10],
       [1.95727000e+05, 1.78279806e+03, 5.55000000e-01, 4.73000000e-01,
        4.20000000e-01, 3.48941716e+08],
       [5.53273000e+05, 9.47200760e+03, 7.14000000e-01, 5.07000000e-01,
        3.60000000e-01, 5.24060606e+09],
       [5.41864900e+06, 1.86709302e+04, 8.44000000e-01, 8.20000000e-01,
        5.00000000e-01, 1.01171217e+11],
       [2.06198000e+06, 2.42149221e+04, 8.80000000e-01, 9.43000000e-01,
        5.80000000e-01, 4.99306850e+10],
       [9.69611000e+06, 6.00203605e+04, 9.07000000e-01, 9.53000000e-01,
        8.70000000e-01, 5.81964017e+11],
       [1.09502100e+06, 4.03855723e+03, 5.31000000e-01, 4.30000000e-01,
        4.30000000e-01, 4.42230497e+09],
       [1.87156720e+07, 1.82100000e+03, 5.94000000e-01, 4.47000000e-01,
        2.00000000e-01, 3.40812387e+10],
       [1.36635590e+07, 1.02028820e+03, 3.92000000e-01, 3.05000000e-01,
        2.20000000e-01, 1.39407681e+10],
       [7.13799700e+06, 6.40934220e+02, 4.84000000e-01, 4.43000000e-01,
        2.90000000e-01, 4.57498654e+09],
       [6.84387300e+07, 5.95188370e+03, 7.26000000e-01, 6.31000000e-01,
        3.80000000e-01, 4.07339362e+11],
       [8.25283300e+06, 1.10417169e+03, 6.24000000e-01, 6.76000000e-01,
        2.30000000e-01, 9.11254455e+09],
       [5.46632800e+06, 7.96223910e+03, 6.88000000e-01, 6.31000000e-01,
        1.70000000e-01, 4.35242105e+10],
       [1.36234200e+06, 2.02708594e+04, 7.72000000e-01, 6.59000000e-01,
        3.80000000e-01, 2.76158431e+10],
       [1.10632010e+07, 4.30547416e+03, 7.21000000e-01, 7.12000000e-01,
        4.00000000e-01, 4.76323261e+10],
       [7.72319070e+07, 1.20958546e+04, 7.61000000e-01, 6.60000000e-01,
        4.50000000e-01, 9.34185915e+11],
       [4.99598220e+07, 1.03009292e+03, 5.21000000e-01, 4.52000000e-01,
        3.10000000e-01, 5.14632588e+10],
       [3.69121480e+07, 8.76354301e+02, 4.83000000e-01, 4.71000000e-01,
        2.60000000e-01, 3.23481196e+10],
       [4.52721560e+07, 3.10464321e+03, 7.47000000e-01, 7.10000000e-01,
        2.60000000e-01, 1.40553892e+11],
       [3.40043400e+06, 1.68319729e+04, 7.93000000e-01, 6.83000000e-01,
        7.30000000e-01, 5.72360131e+10],
       [3.18301008e+08, 5.50477256e+04, 9.15000000e-01, 7.86000000e-01,
        7.40000000e-01, 1.75217465e+13],
       [3.07577000e+07, 2.49233664e+03, 6.75000000e-01, 7.21000000e-01,
        1.80000000e-01, 7.66585428e+10],
       [3.00451340e+07, 1.60544905e+04, 7.62000000e-01, 5.37000000e-01,
        1.90000000e-01, 4.82359319e+11],
       [1.07884000e+05, 3.35730970e+04, 9.15000000e-01, 7.86000000e-01,
        7.40000000e-01, 3.62200000e+09],
       [9.17145950e+07, 2.03026196e+03, 6.66000000e-01, 6.66000000e-01,
        3.10000000e-01, 1.86204653e+11],
       [1.81277100e+06, 4.08033072e+03, 7.33000000e-01, 7.33000000e-01,
        3.30000000e-01, 7.39670519e+09],
       [2.58234850e+07, 1.67314635e+03, 4.98000000e-01, 2.43000000e-01,
        1.90000000e-01, 4.32064698e+10],
       [5.45459910e+07, 6.43318728e+03, 6.66000000e-01, 6.00000000e-01,
        4.40000000e-01, 3.50904575e+11],
       [1.53997530e+07, 1.76305730e+03, 5.86000000e-01, 4.59000000e-01,
        3.80000000e-01, 2.71506469e+10],
       [1.35866810e+07, 1.43489934e+03, 5.09000000e-01, 4.65000000e-01,
        2.10000000e-01, 1.94955196e+10]])

In [76]:
# Splitting data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=15)
X_train.shape
X_test.shape
y_train.shape
y_test.shape
print (X_train.shape, X_test.shape, y_train.shape, y_test.shape, new_df.shape)

(119, 6) (40, 6) (119,) (40,) (159, 10)

In [77]:
#Create a StandardScaler instances
scaler = MinMaxScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [78]:
# Saving values for result comparison later on
y_test_values = y_test

In [79]:
# We need to convert our target labels (expected values) to categorical data
num_classes = num_bins
y_train = to_categorical(y_train, num_classes)
y_test = to_categorical(y_test, num_classes)
# Original label of `1` is one-hot encoded as `0100000000`
y_train[0]

array([0., 1., 0., 0., 0., 0.], dtype=float32)

In [80]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 = 3 * number_input_features
hidden_nodes_layer2 = 2 * number_input_features
hidden_nodes_layer3 = 2 * number_input_features

nn = Sequential()
number_input_features

6

In [81]:
# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=num_classes, activation="softmax"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 18)                126
_________________________________________________________________
dense_9 (Dense)              (None, 12)                228
_________________________________________________________________
dense_10 (Dense)             (None, 12)                156
_________________________________________________________________
dense_11 (Dense)             (None, 6)                 78
=================================================================
Total params: 588
Trainable params: 588
Non-trainable params: 0
_________________________________________________________________

In [82]:
# Compile the model
nn.compile(loss="categorical_crossentropy", optimizer="adam", metrics=['accuracy'])

In [83]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150, shuffle=True)

Train on 119 samples
Epoch 1/150
119/119 [==============================] - 1s 8ms/sample - loss: 1.8031 - accuracy: 0.0840
Epoch 2/150
119/119 [==============================] - 0s 196us/sample - loss: 1.7890 - accuracy: 0.1092
Epoch 3/150
119/119 [==============================] - 0s 209us/sample - loss: 1.7751 - accuracy: 0.1681
Epoch 4/150
119/119 [==============================] - 0s 262us/sample - loss: 1.7631 - accuracy: 0.2689
Epoch 5/150
119/119 [==============================] - 0s 209us/sample - loss: 1.7514 - accuracy: 0.2941
Epoch 6/150
119/119 [==============================] - 0s 178us/sample - loss: 1.7402 - accuracy: 0.3361
Epoch 7/150
119/119 [==============================] - 0s 243us/sample - loss: 1.7289 - accuracy: 0.3529
Epoch 8/150
119/119 [==============================] - 0s 200us/sample - loss: 1.7169 - accuracy: 0.3277
Epoch 9/150
119/119 [==============================] - 0s 122us/sample - loss: 1.7045 - accuracy: 0.2941
Epoch 10/150
119/119 [==============================] - 0s 171us/sample - loss: 1.6906 - accuracy: 0.2857
Epoch 11/150
119/119 [==============================] - 0s 140us/sample - loss: 1.6785 - accuracy: 0.2773
Epoch 12/150
119/119 [==============================] - 0s 166us/sample - loss: 1.6637 - accuracy: 0.2773
Epoch 13/150
119/119 [==============================] - 0s 150us/sample - loss: 1.6513 - accuracy: 0.2773
Epoch 14/150
119/119 [==============================] - 0s 179us/sample - loss: 1.6390 - accuracy: 0.2773
Epoch 15/150
119/119 [==============================] - 0s 142us/sample - loss: 1.6290 - accuracy: 0.2773
Epoch 16/150
119/119 [==============================] - 0s 116us/sample - loss: 1.6157 - accuracy: 0.2773
Epoch 17/150
119/119 [==============================] - 0s 124us/sample - loss: 1.6060 - accuracy: 0.2857
Epoch 18/150
119/119 [==============================] - 0s 160us/sample - loss: 1.5961 - accuracy: 0.2689
Epoch 19/150
119/119 [==============================] - 0s 198us/sample - loss: 1.5856 - accuracy: 0.3782
Epoch 20/150
119/119 [==============================] - 0s 243us/sample - loss: 1.5762 - accuracy: 0.4370
Epoch 21/150
119/119 [==============================] - 0s 157us/sample - loss: 1.5673 - accuracy: 0.4370
Epoch 22/150
119/119 [==============================] - 0s 160us/sample - loss: 1.5588 - accuracy: 0.4202
Epoch 23/150
119/119 [==============================] - 0s 132us/sample - loss: 1.5501 - accuracy: 0.4622
Epoch 24/150
119/119 [==============================] - 0s 161us/sample - loss: 1.5432 - accuracy: 0.4538
Epoch 25/150
119/119 [==============================] - 0s 155us/sample - loss: 1.5350 - accuracy: 0.4706
Epoch 26/150
119/119 [==============================] - 0s 158us/sample - loss: 1.5270 - accuracy: 0.4706
Epoch 27/150
119/119 [==============================] - 0s 138us/sample - loss: 1.5194 - accuracy: 0.4706
Epoch 28/150
119/119 [==============================] - 0s 172us/sample - loss: 1.5124 - accuracy: 0.4538
Epoch 29/150
119/119 [==============================] - 0s 121us/sample - loss: 1.5055 - accuracy: 0.4538
Epoch 30/150
119/119 [==============================] - 0s 147us/sample - loss: 1.4985 - accuracy: 0.4622
Epoch 31/150
119/119 [==============================] - 0s 153us/sample - loss: 1.4910 - accuracy: 0.4622
Epoch 32/150
119/119 [==============================] - 0s 202us/sample - loss: 1.4837 - accuracy: 0.4622
Epoch 33/150
119/119 [==============================] - 0s 143us/sample - loss: 1.4766 - accuracy: 0.4622
Epoch 34/150
119/119 [==============================] - 0s 168us/sample - loss: 1.4692 - accuracy: 0.4622
Epoch 35/150
119/119 [==============================] - 0s 152us/sample - loss: 1.4624 - accuracy: 0.4622
Epoch 36/150
119/119 [==============================] - 0s 162us/sample - loss: 1.4547 - accuracy: 0.4538
Epoch 37/150
119/119 [==============================] - 0s 164us/sample - loss: 1.4479 - accuracy: 0.4538
Epoch 38/150
119/119 [==============================] - 0s 149us/sample - loss: 1.4408 - accuracy: 0.4538
Epoch 39/150
119/119 [==============================] - 0s 125us/sample - loss: 1.4325 - accuracy: 0.4538
Epoch 40/150
119/119 [==============================] - 0s 123us/sample - loss: 1.4251 - accuracy: 0.4538
Epoch 41/150
119/119 [==============================] - 0s 188us/sample - loss: 1.4170 - accuracy: 0.4538
Epoch 42/150
119/119 [==============================] - 0s 188us/sample - loss: 1.4106 - accuracy: 0.4538
Epoch 43/150
119/119 [==============================] - 0s 143us/sample - loss: 1.4016 - accuracy: 0.4538
Epoch 44/150
119/119 [==============================] - 0s 124us/sample - loss: 1.3949 - accuracy: 0.4538
Epoch 45/150
119/119 [==============================] - 0s 127us/sample - loss: 1.3864 - accuracy: 0.4538
Epoch 46/150
119/119 [==============================] - 0s 187us/sample - loss: 1.3784 - accuracy: 0.4538
Epoch 47/150
119/119 [==============================] - 0s 135us/sample - loss: 1.3701 - accuracy: 0.4538
Epoch 48/150
119/119 [==============================] - 0s 151us/sample - loss: 1.3624 - accuracy: 0.4538
Epoch 49/150
119/119 [==============================] - 0s 133us/sample - loss: 1.3558 - accuracy: 0.4538
Epoch 50/150
119/119 [==============================] - 0s 117us/sample - loss: 1.3476 - accuracy: 0.4538
Epoch 51/150
119/119 [==============================] - 0s 156us/sample - loss: 1.3389 - accuracy: 0.4538
Epoch 52/150
119/119 [==============================] - 0s 136us/sample - loss: 1.3310 - accuracy: 0.4538
Epoch 53/150
119/119 [==============================] - 0s 161us/sample - loss: 1.3231 - accuracy: 0.4538
Epoch 54/150
119/119 [==============================] - 0s 128us/sample - loss: 1.3164 - accuracy: 0.4538
Epoch 55/150
119/119 [==============================] - 0s 142us/sample - loss: 1.3080 - accuracy: 0.4538
Epoch 56/150
119/119 [==============================] - 0s 133us/sample - loss: 1.3008 - accuracy: 0.4538
Epoch 57/150
119/119 [==============================] - 0s 173us/sample - loss: 1.2925 - accuracy: 0.4538
Epoch 58/150
119/119 [==============================] - 0s 143us/sample - loss: 1.2851 - accuracy: 0.4538
Epoch 59/150
119/119 [==============================] - 0s 129us/sample - loss: 1.2781 - accuracy: 0.4454
Epoch 60/150
119/119 [==============================] - 0s 162us/sample - loss: 1.2710 - accuracy: 0.4454
Epoch 61/150
119/119 [==============================] - 0s 232us/sample - loss: 1.2636 - accuracy: 0.4538
Epoch 62/150
119/119 [==============================] - 0s 179us/sample - loss: 1.2565 - accuracy: 0.4622
Epoch 63/150
119/119 [==============================] - 0s 155us/sample - loss: 1.2504 - accuracy: 0.4622
Epoch 64/150
119/119 [==============================] - 0s 159us/sample - loss: 1.2429 - accuracy: 0.4706
Epoch 65/150
119/119 [==============================] - 0s 141us/sample - loss: 1.2366 - accuracy: 0.4706
Epoch 66/150
119/119 [==============================] - 0s 208us/sample - loss: 1.2297 - accuracy: 0.4706
Epoch 67/150
119/119 [==============================] - 0s 115us/sample - loss: 1.2243 - accuracy: 0.4538
Epoch 68/150
119/119 [==============================] - 0s 133us/sample - loss: 1.2168 - accuracy: 0.4622
Epoch 69/150
119/119 [==============================] - 0s 129us/sample - loss: 1.2104 - accuracy: 0.4706
Epoch 70/150
119/119 [==============================] - 0s 154us/sample - loss: 1.2048 - accuracy: 0.4622
Epoch 71/150
119/119 [==============================] - 0s 207us/sample - loss: 1.1993 - accuracy: 0.4538
Epoch 72/150
119/119 [==============================] - 0s 329us/sample - loss: 1.1928 - accuracy: 0.4538
Epoch 73/150
119/119 [==============================] - 0s 262us/sample - loss: 1.1855 - accuracy: 0.4538
Epoch 74/150
119/119 [==============================] - 0s 229us/sample - loss: 1.1807 - accuracy: 0.4622
Epoch 75/150
119/119 [==============================] - 0s 187us/sample - loss: 1.1746 - accuracy: 0.4706
Epoch 76/150
119/119 [==============================] - 0s 150us/sample - loss: 1.1692 - accuracy: 0.4790
Epoch 77/150
119/119 [==============================] - 0s 229us/sample - loss: 1.1642 - accuracy: 0.4958
Epoch 78/150

119/119 [==============================] - 0s 189us/sample - loss: 1.1585 - accuracy: 0.5042
Epoch 79/150
119/119 [==============================] - 0s 197us/sample - loss: 1.1537 - accuracy: 0.5042
Epoch 80/150
119/119 [==============================] - 0s 211us/sample - loss: 1.1484 - accuracy: 0.5042
Epoch 81/150
119/119 [==============================] - 0s 199us/sample - loss: 1.1443 - accuracy: 0.5378
Epoch 82/150
119/119 [==============================] - 0s 156us/sample - loss: 1.1387 - accuracy: 0.5378
Epoch 83/150
119/119 [==============================] - 0s 220us/sample - loss: 1.1353 - accuracy: 0.5378
Epoch 84/150
119/119 [==============================] - 0s 165us/sample - loss: 1.1303 - accuracy: 0.5378
Epoch 85/150
119/119 [==============================] - 0s 154us/sample - loss: 1.1258 - accuracy: 0.5378
Epoch 86/150
119/119 [==============================] - 0s 204us/sample - loss: 1.1217 - accuracy: 0.5378
Epoch 87/150
119/119 [==============================] - 0s 161us/sample - loss: 1.1179 - accuracy: 0.5378
Epoch 88/150
119/119 [==============================] - 0s 187us/sample - loss: 1.1148 - accuracy: 0.5378
Epoch 89/150
119/119 [==============================] - 0s 215us/sample - loss: 1.1102 - accuracy: 0.5462
Epoch 90/150
119/119 [==============================] - 0s 223us/sample - loss: 1.1060 - accuracy: 0.5462
Epoch 91/150
119/119 [==============================] - 0s 195us/sample - loss: 1.1010 - accuracy: 0.5462
Epoch 92/150
119/119 [==============================] - 0s 166us/sample - loss: 1.0982 - accuracy: 0.5462
Epoch 93/150
119/119 [==============================] - 0s 252us/sample - loss: 1.0938 - accuracy: 0.5462
Epoch 94/150
119/119 [==============================] - 0s 173us/sample - loss: 1.0903 - accuracy: 0.5546
Epoch 95/150
119/119 [==============================] - 0s 222us/sample - loss: 1.0878 - accuracy: 0.5630
Epoch 96/150
119/119 [==============================] - 0s 155us/sample - loss: 1.0822 - accuracy: 0.5630
Epoch 97/150
119/119 [==============================] - 0s 204us/sample - loss: 1.0811 - accuracy: 0.5462
Epoch 98/150
119/119 [==============================] - 0s 167us/sample - loss: 1.0776 - accuracy: 0.5462
Epoch 99/150
119/119 [==============================] - 0s 154us/sample - loss: 1.0730 - accuracy: 0.5630
Epoch 100/150
119/119 [==============================] - 0s 144us/sample - loss: 1.0716 - accuracy: 0.5798
Epoch 101/150
119/119 [==============================] - 0s 165us/sample - loss: 1.0672 - accuracy: 0.5798
Epoch 102/150
119/119 [==============================] - 0s 153us/sample - loss: 1.0644 - accuracy: 0.5714
Epoch 103/150
119/119 [==============================] - 0s 151us/sample - loss: 1.0617 - accuracy: 0.5798
Epoch 104/150
119/119 [==============================] - 0s 158us/sample - loss: 1.0601 - accuracy: 0.5798
Epoch 105/150
119/119 [==============================] - 0s 244us/sample - loss: 1.0559 - accuracy: 0.5798
Epoch 106/150
119/119 [==============================] - 0s 165us/sample - loss: 1.0540 - accuracy: 0.5798
Epoch 107/150
119/119 [==============================] - 0s 185us/sample - loss: 1.0514 - accuracy: 0.5966
Epoch 108/150
119/119 [==============================] - 0s 152us/sample - loss: 1.0481 - accuracy: 0.6050
Epoch 109/150
119/119 [==============================] - 0s 236us/sample - loss: 1.0465 - accuracy: 0.6303
Epoch 110/150
119/119 [==============================] - 0s 189us/sample - loss: 1.0440 - accuracy: 0.6134
Epoch 111/150
119/119 [==============================] - 0s 253us/sample - loss: 1.0414 - accuracy: 0.6134
Epoch 112/150
119/119 [==============================] - 0s 160us/sample - loss: 1.0392 - accuracy: 0.6050
Epoch 113/150
119/119 [==============================] - 0s 150us/sample - loss: 1.0379 - accuracy: 0.6134
Epoch 114/150
119/119 [==============================] - 0s 156us/sample - loss: 1.0357 - accuracy: 0.6218
Epoch 115/150
119/119 [==============================] - 0s 138us/sample - loss: 1.0331 - accuracy: 0.6303
Epoch 116/150
119/119 [==============================] - 0s 143us/sample - loss: 1.0314 - accuracy: 0.6218
Epoch 117/150
119/119 [==============================] - 0s 170us/sample - loss: 1.0291 - accuracy: 0.6134
Epoch 118/150
119/119 [==============================] - 0s 151us/sample - loss: 1.0260 - accuracy: 0.6050
Epoch 119/150
119/119 [==============================] - 0s 137us/sample - loss: 1.0255 - accuracy: 0.6050
Epoch 120/150
119/119 [==============================] - 0s 142us/sample - loss: 1.0228 - accuracy: 0.6050
Epoch 121/150
119/119 [==============================] - 0s 159us/sample - loss: 1.0207 - accuracy: 0.6050
Epoch 122/150
119/119 [==============================] - 0s 161us/sample - loss: 1.0204 - accuracy: 0.6134
Epoch 123/150
119/119 [==============================] - 0s 153us/sample - loss: 1.0175 - accuracy: 0.6303
Epoch 124/150
119/119 [==============================] - 0s 178us/sample - loss: 1.0158 - accuracy: 0.6134
Epoch 125/150
119/119 [==============================] - 0s 150us/sample - loss: 1.0140 - accuracy: 0.6134
Epoch 126/150
119/119 [==============================] - 0s 144us/sample - loss: 1.0150 - accuracy: 0.6134
Epoch 127/150
119/119 [==============================] - 0s 162us/sample - loss: 1.0123 - accuracy: 0.6218
Epoch 128/150
119/119 [==============================] - 0s 155us/sample - loss: 1.0090 - accuracy: 0.6134
Epoch 129/150
119/119 [==============================] - 0s 160us/sample - loss: 1.0113 - accuracy: 0.6050
Epoch 130/150
119/119 [==============================] - 0s 159us/sample - loss: 1.0071 - accuracy: 0.6134
Epoch 131/150
119/119 [==============================] - 0s 158us/sample - loss: 1.0040 - accuracy: 0.6218
Epoch 132/150
119/119 [==============================] - 0s 168us/sample - loss: 1.0032 - accuracy: 0.5882
Epoch 133/150
119/119 [==============================] - 0s 119us/sample - loss: 1.0028 - accuracy: 0.5966
Epoch 134/150
119/119 [==============================] - 0s 150us/sample - loss: 1.0003 - accuracy: 0.6134
Epoch 135/150
119/119 [==============================] - 0s 150us/sample - loss: 0.9994 - accuracy: 0.6303
Epoch 136/150
119/119 [==============================] - 0s 147us/sample - loss: 0.9965 - accuracy: 0.6387
Epoch 137/150
119/119 [==============================] - 0s 137us/sample - loss: 0.9955 - accuracy: 0.6050
Epoch 138/150
119/119 [==============================] - 0s 135us/sample - loss: 0.9949 - accuracy: 0.5966
Epoch 139/150
119/119 [==============================] - 0s 147us/sample - loss: 0.9959 - accuracy: 0.6134
Epoch 140/150
119/119 [==============================] - 0s 158us/sample - loss: 0.9921 - accuracy: 0.6218
Epoch 141/150
119/119 [==============================] - 0s 156us/sample - loss: 0.9902 - accuracy: 0.6134
Epoch 142/150
119/119 [==============================] - 0s 132us/sample - loss: 0.9882 - accuracy: 0.6387
Epoch 143/150
119/119 [==============================] - 0s 118us/sample - loss: 0.9864 - accuracy: 0.6387
Epoch 144/150
119/119 [==============================] - 0s 166us/sample - loss: 0.9855 - accuracy: 0.6303
Epoch 145/150
119/119 [==============================] - 0s 198us/sample - loss: 0.9846 - accuracy: 0.6303
Epoch 146/150
119/119 [==============================] - 0s 151us/sample - loss: 0.9825 - accuracy: 0.6387
Epoch 147/150
119/119 [==============================] - 0s 155us/sample - loss: 0.9826 - accuracy: 0.6218
Epoch 148/150
119/119 [==============================] - 0s 139us/sample - loss: 0.9811 - accuracy: 0.6218
Epoch 149/150
119/119 [==============================] - 0s 120us/sample - loss: 0.9799 - accuracy: 0.6387
Epoch 150/150
119/119 [==============================] - 0s 144us/sample - loss: 0.9783 - accuracy: 0.6387

In [84]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

40/1 - 0s - loss: 1.0160 - accuracy: 0.5500
Loss: 1.1417712211608886, Accuracy: 0.550000011920929

In [85]:
# Make predictions with scaled test data
y_test_pred = nn.predict(X_test_scaled)

In [86]:
y_test

array([[1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.]], dtype=float32)

In [87]:
y_test_pred.round(1)

array([[0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.7, 0.2, 0. , 0. , 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.7, 0.2, 0. , 0. , 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.1, 0.2, 0.1, 0.2, 0.4, 0.1],
       [0.1, 0.3, 0.2, 0.3, 0.2, 0. ],
       [0.6, 0.3, 0.1, 0. , 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.7, 0.3, 0. , 0. , 0. , 0. ],
       [0.2, 0.4, 0.2, 0.1, 0. , 0. ],
       [0.5, 0.3, 0.1, 0.1, 0. , 0. ],
       [0.1, 0.3, 0.2, 0.3, 0.2, 0. ],
       [0. , 0. , 0. , 0.1, 0.2, 0.7],
       [0.1, 0.3, 0.2, 0.3, 0.2, 0. ],
       [0.7, 0.2, 0. , 0. , 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.6, 0.3, 0.1, 0. , 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.3, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.8, 0.1, 0. , 0. , 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.9, 0.1, 0. , 0. , 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.9, 0.1, 0. , 0. , 0. , 0. ],
       [0.7, 0.3, 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0.2, 0.4, 0.2],
       [0. , 0.1, 0.1, 0.2, 0.4, 0.1],
       [0.5, 0.4, 0.1, 0. , 0. , 0. ],
       [0. , 0.1, 0.1, 0.3, 0.3, 0.1]], dtype=float32)

In [88]:
nn.predict_classes(X_test_scaled)

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 4, 3, 0, 1, 0, 1, 0, 0, 1, 0, 1, 5, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 4, 4, 0, 4])

In [89]:
results_df = pd.DataFrame(y_test_values)
results_df['model_results'] = nn.predict_classes(X_test_scaled)

results_df.head(50)

    0  model_results
0   0              0
1   3              0
2   1              0
3   0              0
4   1              1
5   0              0
6   0              0
7   1              1
8   0              0
9   3              4
10  1              3
11  3              0
12  0              1
13  0              0
14  0              1
15  1              0
16  1              0
17  0              1
18  2              0
19  3              1
20  2              5
21  1              1
22  0              0
23  0              1
24  0              0
25  0              0
26  3              1
27  0              0
28  0              0
29  3              1
30  0              0
31  0              0
32  0              0
33  2              1
34  0              0
35  0              0
36  4              4
37  4              4
38  0              0
39  5              4

### Saving the model

In [90]:
# # Export our model to HDF5 file
# nn.save("nn_trained_categories_model_.h5")

In [91]:
results_df = results_df.rename(columns={0: "numerical_medal_grouping"})
results_df

   numerical_medal_grouping  model_results
0                         0              0
1                         3              0
2                         1              0
3                         0              0
4                         1              1
5                         0              0
6                         0              0
7                         1              1
8                         0              0
9                         3              4
10                        1              3
11                        3              0
12                        0              1
13                        0              0
14                        0              1
15                        1              0
16                        1              0
17                        0              1
18                        2              0
19                        3              1
20                        2              5
21                        1              1
22                        0              0
23                        0              1
24                        0              0
25                        0              0
26                        3              1
27                        0              0
28                        0              0
29                        3              1
30                        0              0
31                        0              0
32                        0              0
33                        2              1
34                        0              0
35                        0              0
36                        4              4
37                        4              4
38                        0              0
39                        5              4

In [92]:
new_df

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping,gdp_total
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10
1,Albania,2889104,4578.631994,0.733,0.733,0.33,0,0,0,1.322814e+10
2,United Arab Emirates,9214175,43751.838890,0.835,0.753,0.70,0,0,0,4.031371e+11
3,Argentina,42669500,12334.798250,0.836,0.636,0.34,4,1-5,1,5.263197e+11
4,Armenia,2912403,3986.231624,0.733,0.701,0.37,2,1-5,1,1.160951e+10
...,...,...,...,...,...,...,...,...,...,...
154,Kosovo,1812771,4080.330717,0.733,0.733,0.33,0,0,0,7.396705e+09
155,Yemen,25823485,1673.146354,0.498,0.243,0.19,0,0,0,4.320647e+10
156,South Africa,54545991,6433.187277,0.666,0.600,0.44,6,6-10,2,3.509046e+11
157,Zambia,15399753,1763.057298,0.586,0.459,0.38,0,0,0,2.715065e+10
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10

In [93]:
#join using the numerical_medal_grouping columns is to use the on parameter.
# new_results_df = new_df.join(results_df.set_index('numerical_medal_grouping'), on='numerical_medal_grouping')

pd.merge(new_df, results_df, on='numerical_medal_grouping', how='outer')
new_results_df

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping,gdp_total,model_results
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,0
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,1
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,1
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,3
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,0
...,...,...,...,...,...,...,...,...,...,...,...
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0

In [94]:
# # new_df.reset_index(inplace=True)
# new_results_df = new_df.join(results_df).head(50)
# new_results_df

# # pd.concat([new_df, results_df], axis=1)

In [95]:
# new_results_df = new_results_df.dropna()

In [96]:
new_results_df.drop(["population","gdp_per_capita","human_development_index","gender_inequality_index","corruption_perceptions_index","gdp_total",], axis=1)

# new_results_df = new_results_df[["country_name",0,"model_results"]]

,country_name,count_of_medals,medal_grouping,numerical_medal_grouping,model_results
0,Afghanistan,1,1-5,1,0
0,Afghanistan,1,1-5,1,1
0,Afghanistan,1,1-5,1,1
0,Afghanistan,1,1-5,1,3
0,Afghanistan,1,1-5,1,0
...,...,...,...,...,...
158,Zimbabwe,0,0,0,0
158,Zimbabwe,0,0,0,0
158,Zimbabwe,0,0,0,0
158,Zimbabwe,0,0,0,0
158,Zimbabwe,0,0,0,0

In [61]:
new_results_df = new_results_df.set_index("country_name",drop=True)
new_results_df

,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping,gdp_total,model_results
country_name,,,,,,,,,,
Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,0
Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,1
Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,1
Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,3
Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10,0
...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0
Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,0,0,0,1.949552e+10,0

In [29]:
# new_results_df.to_csv("nn_model_results.csv")