In [1]:
# Import our dependencies
import pandas as pd
from path import Path
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
# Keras
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [2]:
# Import our clean dataset
file_path = Path("../clean_data/combined_olympic_data.csv")
df = pd.read_csv(file_path)
df.head(10)

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,total
0,Afghanistan,33370794,613.856689,0.465,0.676,12,1
1,Albania,2889104,4578.631994,0.733,0.267,33,0
2,United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0
3,Argentina,42669500,12334.798250,0.836,0.364,34,4
4,Armenia,2912403,3986.231624,0.733,0.299,37,2
5,Australia,23475686,62510.791170,0.935,0.123,80,38
6,Austria,8546356,51717.495940,0.885,0.083,72,17
7,Azerbaijan,9535079,7891.313147,0.751,0.330,29,9
8,Burundi,9844297,274.857948,0.400,0.483,20,0
9,Belgium,11209057,47700.540360,0.890,0.076,76,3

In [3]:
df["total"].value_counts()

0      75
1      18
2       8
3       6
4       5
6       5
8       4
17      3
5       3
9       3
12      3
13      3
7       2
15      2
18      2
38      2
100     1
19      1
16      1
21      1
23      1
31      1
36      1
43      1
44      1
46      1
50      1
63      1
70      1
97      1
132     1
Name: total, dtype: int64

In [4]:
bin_labels = ['0', '1-5', '6-10', '11-30', '31-50', '51+']
num_bins = len(bin_labels)

df['medal_grouping'] = pd.cut(df['total'],
                              bins=[-1, 0, 5, 10, 30, 50, 140],
                              labels=bin_labels)
df['numerical_medal_grouping'] = pd.cut(df['total'],
                              bins=[-1, 0, 5, 10, 30, 50, 140],
                              labels=range(num_bins))

In [5]:
df['medal_grouping'].value_counts()

0        75
1-5      40
11-30    17
6-10     14
31-50     8
51+       5
Name: medal_grouping, dtype: int64

In [6]:
new_df = df.rename(columns={"total": "count_of_medals"})
new_df.head()

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping
0,Afghanistan,33370794,613.856689,0.465,0.676,12,1,1-5,1
1,Albania,2889104,4578.631994,0.733,0.267,33,0,0,0
2,United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0,0,0
3,Argentina,42669500,12334.798250,0.836,0.364,34,4,1-5,1
4,Armenia,2912403,3986.231624,0.733,0.299,37,2,1-5,1

### Split our preprocessed data into our features and target arrays

In [7]:
# Create our target
y = new_df["numerical_medal_grouping"].values
y[:20]

[1, 0, 0, 1, 1, ..., 1, 0, 3, 0, 3]
Length: 20
Categories (6, int64): [0 < 1 < 2 < 3 < 4 < 5]

In [8]:
# Optimizing and transforming features
# Transforming CPI to values between 0-1
new_df["corruption_perceptions_index"] = new_df["corruption_perceptions_index"] / 100
# Transforming GII to invert values. Higher values will now correspond to more gender equality.
new_df["gender_inequality_index"] = 1 - new_df["gender_inequality_index"]
# Replacing GDP per capita with total GDP
new_df["gdp_total"] = new_df["population"] * new_df["gdp_per_capita"]
new_df.head()

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals,medal_grouping,numerical_medal_grouping,gdp_total
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,1,1-5,1,2.048489e+10
1,Albania,2889104,4578.631994,0.733,0.733,0.33,0,0,0,1.322814e+10
2,United Arab Emirates,9214175,43751.838890,0.835,0.753,0.70,0,0,0,4.031371e+11
3,Argentina,42669500,12334.798250,0.836,0.636,0.34,4,1-5,1,5.263197e+11
4,Armenia,2912403,3986.231624,0.733,0.701,0.37,2,1-5,1,1.160951e+10

In [9]:
# Create our features
X = new_df.drop(["count_of_medals", "medal_grouping", "numerical_medal_grouping"], axis=1)
X

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,gdp_total
0,Afghanistan,33370794,613.856689,0.465,0.324,0.12,2.048489e+10
1,Albania,2889104,4578.631994,0.733,0.733,0.33,1.322814e+10
2,United Arab Emirates,9214175,43751.838890,0.835,0.753,0.70,4.031371e+11
3,Argentina,42669500,12334.798250,0.836,0.636,0.34,5.263197e+11
4,Armenia,2912403,3986.231624,0.733,0.701,0.37,1.160951e+10
...,...,...,...,...,...,...,...
154,Kosovo,1812771,4080.330717,0.733,0.733,0.33,7.396705e+09
155,Yemen,25823485,1673.146354,0.498,0.243,0.19,4.320647e+10
156,South Africa,54545991,6433.187277,0.666,0.600,0.44,3.509046e+11
157,Zambia,15399753,1763.057298,0.586,0.459,0.38,2.715065e+10
158,Zimbabwe,13586681,1434.899340,0.509,0.465,0.21,1.949552e+10

In [10]:
# Splitting data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=15)
X_train.shape
X_test.shape
y_train.shape
y_test.shape
print (X_train.shape, X_test.shape, y_train.shape, y_test.shape, new_df.shape)

(119, 7) (40, 7) (119,) (40,) (159, 10)

In [11]:
#Create a StandardScaler instances
scaler = MinMaxScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train.drop(["country_name"], axis = 1))

# Scale the data
X_train_scaled = X_scaler.transform(X_train.drop(["country_name"], axis = 1))
X_test_scaled = X_scaler.transform(X_test.drop(["country_name"], axis = 1))

In [12]:
X_test

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,gdp_total
157,Zambia,15399753,1763.057298,0.586,0.459,0.38,2.715065e+10
63,Iran,77465753,5585.526758,0.766,0.486,0.27,4.326870e+11
40,Algeria,38923687,5493.025590,0.736,0.571,0.36,2.138088e+11
31,Congo Republic,4736974,2996.918026,0.591,0.406,0.23,1.419632e+10
117,Portugal,10401062,22074.300760,0.830,0.897,0.63,2.295962e+11
74,Cambodia,15274503,1093.496191,0.555,0.518,0.21,1.670261e+10
130,Sao Tome and Principe,195727,1782.798059,0.555,0.473,0.42,3.489417e+08
142,Trinidad and Tobago,1362342,20270.859370,0.772,0.659,0.38,2.761584e+10
111,Peru,30090359,6672.880255,0.734,0.611,0.38,2.007894e+11
25,Switzerland,8188649,86605.563380,0.930,0.955,0.86,7.091826e+11
9,Belgium,11209057,47700.540360,0.890,0.924,0.76,5.346781e+11
68,Jamaica,2875136,4833.790318,0.719,0.574,0.38,1.389780e+10
80,Libya,6362037,6466.910270,0.724,0.831,0.18,4.114272e+10
112,Philippines,100513138,2959.648452,0.668,0.564,0.38,2.974836e+11
26,Chile,17758959,14670.996760,0.832,0.675,0.73,2.605416e+11
95,Mongolia,2940108,4158.525715,0.727,0.717,0.39,1.222651e+10
48,Gabon,1883800,9663.429240,0.684,0.453,0.37,1.820397e+10
92,Malta,434558,26008.827720,0.839,0.787,0.55,1.130234e+10
156,South Africa,54545991,6433.187277,0.666,0.600,0.44,3.509046e+11
6,Austria,8546356,51717.495940,0.885,0.917,0.72,4.419961e+11
61,India,1295604184,1573.881492,0.609,0.456,0.38,2.039127e+12
126,Singapore,5469724,57562.530790,0.912,0.931,0.84,3.148512e+11
106,Nepal,26906926,743.413381,0.548,0.494,0.29,2.000297e+10
152,Virgin Islands (U.S.),107884,33573.097030,0.915,0.786,0.74,3.622000e+09
109,Pakistan,195306825,1251.164104,0.538,0.450,0.29,2.443609e+11
82,Sri Lanka,20778000,3819.253530,0.757,0.615,0.38,7.935645e+10
59,Hungary,9866468,14246.109800,0.828,0.751,0.54,1.405588e+11
30,Democratic Republic of the Congo,73767447,486.787082,0.433,0.343,0.22,3.590904e+10
78,Lebanon,6262410,7686.256030,0.769,0.614,0.27,4.813449e+10
71,Kazakhstan,17288285,12807.260690,0.788,0.797,0.29,2.214156e+11
91,Mali,16934220,848.302758,0.419,0.314,0.32,1.436535e+10
145,Tanzania,49959822,1030.092917,0.521,0.452,0.31,5.146326e+10
58,Haiti,10549008,831.873949,0.483,0.403,0.19,8.775445e+09
57,Croatia,4238389,13600.194390,0.818,0.880,0.48,5.764291e+10
137,Chad,13663559,1020.288204,0.392,0.305,0.22,1.394077e+10
55,Guyana,763380,4031.600662,0.636,0.491,0.30,3.077643e+09
47,France,66312067,43011.263100,0.888,0.897,0.69,2.852166e+12
5,Australia,23475686,62510.791170,0.935,0.877,0.80,1.467484e+12
110,Panama,3901315,12796.070040,0.780,0.542,0.37,4.992150e+10
121,Russia,143819666,14095.648740,0.798,0.714,0.27,2.027231e+12

In [13]:
# Saving values for result comparison later on
y_test_values = y_test

In [14]:
# We need to convert our target labels (expected values) to categorical data
num_classes = num_bins
y_train = to_categorical(y_train, num_classes)
y_test = to_categorical(y_test, num_classes)
# Original label of `1` is one-hot encoded as `0100000000`
y_train[0]

array([0., 1., 0., 0., 0., 0.], dtype=float32)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train.drop(["country_name"],axis=1).columns)
hidden_nodes_layer1 = 3 * number_input_features
hidden_nodes_layer2 = 2 * number_input_features
hidden_nodes_layer3 = 2 * number_input_features

nn = Sequential()
number_input_features

6

In [16]:
# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=num_classes, activation="softmax"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 18)                126
_________________________________________________________________
dense_1 (Dense)              (None, 12)                228
_________________________________________________________________
dense_2 (Dense)              (None, 12)                156
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 78
=================================================================
Total params: 588
Trainable params: 588
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="categorical_crossentropy", optimizer="adam", metrics=['accuracy'])

In [18]:
# Train the model
X_train_scaled.reshape(-1,1)
y_train.reshape(-1,1)
fit_model = nn.fit(X_train_scaled, y_train, epochs=150, shuffle=True)

Train on 119 samples
Epoch 1/150
119/119 [==============================] - 1s 9ms/sample - loss: 1.7506 - accuracy: 0.2773
Epoch 2/150
119/119 [==============================] - 0s 110us/sample - loss: 1.7395 - accuracy: 0.2773
Epoch 3/150
119/119 [==============================] - 0s 146us/sample - loss: 1.7308 - accuracy: 0.2773
Epoch 4/150
119/119 [==============================] - 0s 138us/sample - loss: 1.7199 - accuracy: 0.2773
Epoch 5/150
119/119 [==============================] - 0s 123us/sample - loss: 1.7101 - accuracy: 0.2773
Epoch 6/150
119/119 [==============================] - 0s 152us/sample - loss: 1.6998 - accuracy: 0.2773
Epoch 7/150
119/119 [==============================] - 0s 143us/sample - loss: 1.6904 - accuracy: 0.2773
Epoch 8/150
119/119 [==============================] - 0s 143us/sample - loss: 1.6808 - accuracy: 0.2773
Epoch 9/150
119/119 [==============================] - 0s 118us/sample - loss: 1.6725 - accuracy: 0.2773
Epoch 10/150
119/119 [==============================] - 0s 204us/sample - loss: 1.6626 - accuracy: 0.2773
Epoch 11/150
119/119 [==============================] - 0s 111us/sample - loss: 1.6529 - accuracy: 0.2773
Epoch 12/150
119/119 [==============================] - 0s 148us/sample - loss: 1.6435 - accuracy: 0.2773
Epoch 13/150
119/119 [==============================] - 0s 150us/sample - loss: 1.6339 - accuracy: 0.2773
Epoch 14/150
119/119 [==============================] - 0s 115us/sample - loss: 1.6240 - accuracy: 0.2773
Epoch 15/150
119/119 [==============================] - 0s 158us/sample - loss: 1.6146 - accuracy: 0.2773
Epoch 16/150
119/119 [==============================] - 0s 155us/sample - loss: 1.6052 - accuracy: 0.2773
Epoch 17/150
119/119 [==============================] - 0s 125us/sample - loss: 1.5953 - accuracy: 0.2773
Epoch 18/150
119/119 [==============================] - 0s 144us/sample - loss: 1.5862 - accuracy: 0.2773
Epoch 19/150
119/119 [==============================] - 0s 127us/sample - loss: 1.5770 - accuracy: 0.2773
Epoch 20/150
119/119 [==============================] - 0s 180us/sample - loss: 1.5673 - accuracy: 0.2773
Epoch 21/150
119/119 [==============================] - 0s 117us/sample - loss: 1.5577 - accuracy: 0.2773
Epoch 22/150
119/119 [==============================] - 0s 150us/sample - loss: 1.5482 - accuracy: 0.2773
Epoch 23/150
119/119 [==============================] - 0s 121us/sample - loss: 1.5394 - accuracy: 0.2773
Epoch 24/150
119/119 [==============================] - 0s 165us/sample - loss: 1.5284 - accuracy: 0.2773
Epoch 25/150
119/119 [==============================] - 0s 132us/sample - loss: 1.5188 - accuracy: 0.2773
Epoch 26/150
119/119 [==============================] - 0s 128us/sample - loss: 1.5098 - accuracy: 0.2773
Epoch 27/150
119/119 [==============================] - 0s 164us/sample - loss: 1.4991 - accuracy: 0.2857
Epoch 28/150
119/119 [==============================] - 0s 162us/sample - loss: 1.4894 - accuracy: 0.2857
Epoch 29/150
119/119 [==============================] - 0s 120us/sample - loss: 1.4809 - accuracy: 0.2857
Epoch 30/150
119/119 [==============================] - 0s 150us/sample - loss: 1.4707 - accuracy: 0.2773
Epoch 31/150
119/119 [==============================] - 0s 123us/sample - loss: 1.4602 - accuracy: 0.3025
Epoch 32/150
119/119 [==============================] - 0s 143us/sample - loss: 1.4509 - accuracy: 0.3529
Epoch 33/150
119/119 [==============================] - 0s 146us/sample - loss: 1.4408 - accuracy: 0.4118
Epoch 34/150
119/119 [==============================] - 0s 142us/sample - loss: 1.4311 - accuracy: 0.4538
Epoch 35/150
119/119 [==============================] - 0s 198us/sample - loss: 1.4229 - accuracy: 0.4538
Epoch 36/150
119/119 [==============================] - 0s 144us/sample - loss: 1.4119 - accuracy: 0.4538
Epoch 37/150
119/119 [==============================] - 0s 148us/sample - loss: 1.4023 - accuracy: 0.4538
Epoch 38/150
119/119 [==============================] - 0s 151us/sample - loss: 1.3924 - accuracy: 0.4538
Epoch 39/150
119/119 [==============================] - 0s 116us/sample - loss: 1.3818 - accuracy: 0.4538
Epoch 40/150
119/119 [==============================] - 0s 149us/sample - loss: 1.3725 - accuracy: 0.4538
Epoch 41/150
119/119 [==============================] - 0s 125us/sample - loss: 1.3621 - accuracy: 0.4538
Epoch 42/150
119/119 [==============================] - 0s 131us/sample - loss: 1.3524 - accuracy: 0.4538
Epoch 43/150
119/119 [==============================] - 0s 150us/sample - loss: 1.3438 - accuracy: 0.4454
Epoch 44/150
119/119 [==============================] - 0s 153us/sample - loss: 1.3353 - accuracy: 0.4454
Epoch 45/150
119/119 [==============================] - 0s 156us/sample - loss: 1.3257 - accuracy: 0.4538
Epoch 46/150
119/119 [==============================] - 0s 153us/sample - loss: 1.3159 - accuracy: 0.4538
Epoch 47/150
119/119 [==============================] - 0s 161us/sample - loss: 1.3075 - accuracy: 0.4538
Epoch 48/150
119/119 [==============================] - 0s 129us/sample - loss: 1.2991 - accuracy: 0.4538
Epoch 49/150
119/119 [==============================] - 0s 143us/sample - loss: 1.2909 - accuracy: 0.4622
Epoch 50/150
119/119 [==============================] - 0s 137us/sample - loss: 1.2830 - accuracy: 0.4622
Epoch 51/150
119/119 [==============================] - 0s 151us/sample - loss: 1.2738 - accuracy: 0.4622
Epoch 52/150
119/119 [==============================] - 0s 133us/sample - loss: 1.2674 - accuracy: 0.4622
Epoch 53/150
119/119 [==============================] - 0s 148us/sample - loss: 1.2594 - accuracy: 0.4622
Epoch 54/150
119/119 [==============================] - 0s 128us/sample - loss: 1.2522 - accuracy: 0.4622
Epoch 55/150
119/119 [==============================] - 0s 120us/sample - loss: 1.2448 - accuracy: 0.4622
Epoch 56/150
119/119 [==============================] - 0s 157us/sample - loss: 1.2375 - accuracy: 0.4622
Epoch 57/150
119/119 [==============================] - 0s 147us/sample - loss: 1.2307 - accuracy: 0.4622
Epoch 58/150
119/119 [==============================] - 0s 182us/sample - loss: 1.2247 - accuracy: 0.4622
Epoch 59/150
119/119 [==============================] - 0s 114us/sample - loss: 1.2189 - accuracy: 0.4622
Epoch 60/150
119/119 [==============================] - 0s 126us/sample - loss: 1.2136 - accuracy: 0.4706
Epoch 61/150
119/119 [==============================] - 0s 200us/sample - loss: 1.2067 - accuracy: 0.4790
Epoch 62/150
119/119 [==============================] - 0s 237us/sample - loss: 1.2013 - accuracy: 0.4790
Epoch 63/150
119/119 [==============================] - 0s 142us/sample - loss: 1.1987 - accuracy: 0.4790
Epoch 64/150
119/119 [==============================] - 0s 150us/sample - loss: 1.1918 - accuracy: 0.4790
Epoch 65/150
119/119 [==============================] - 0s 178us/sample - loss: 1.1866 - accuracy: 0.4790
Epoch 66/150
119/119 [==============================] - 0s 120us/sample - loss: 1.1816 - accuracy: 0.4874
Epoch 67/150
119/119 [==============================] - 0s 189us/sample - loss: 1.1770 - accuracy: 0.4874
Epoch 68/150
119/119 [==============================] - 0s 155us/sample - loss: 1.1724 - accuracy: 0.4958
Epoch 69/150
119/119 [==============================] - 0s 132us/sample - loss: 1.1682 - accuracy: 0.4958
Epoch 70/150
119/119 [==============================] - 0s 112us/sample - loss: 1.1638 - accuracy: 0.4958
Epoch 71/150
119/119 [==============================] - 0s 115us/sample - loss: 1.1600 - accuracy: 0.4958
Epoch 72/150
119/119 [==============================] - 0s 120us/sample - loss: 1.1548 - accuracy: 0.4958
Epoch 73/150
119/119 [==============================] - 0s 111us/sample - loss: 1.1509 - accuracy: 0.5042
Epoch 74/150
119/119 [==============================] - 0s 101us/sample - loss: 1.1457 - accuracy: 0.5210
Epoch 75/150
119/119 [==============================] - 0s 135us/sample - loss: 1.1422 - accuracy: 0.5210
Epoch 76/150
119/119 [==============================] - 0s 157us/sample - loss: 1.1372 - accuracy: 0.5294
Epoch 77/150
119/119 [==============================] - 0s 170us/sample - loss: 1.1329 - accuracy: 0.5378
Epoch 78/150

119/119 [==============================] - 0s 129us/sample - loss: 1.1290 - accuracy: 0.5378
Epoch 79/150
119/119 [==============================] - 0s 146us/sample - loss: 1.1245 - accuracy: 0.5546
Epoch 80/150
119/119 [==============================] - 0s 170us/sample - loss: 1.1195 - accuracy: 0.5546
Epoch 81/150
119/119 [==============================] - 0s 130us/sample - loss: 1.1153 - accuracy: 0.5546
Epoch 82/150
119/119 [==============================] - 0s 126us/sample - loss: 1.1107 - accuracy: 0.5630
Epoch 83/150
119/119 [==============================] - 0s 140us/sample - loss: 1.1067 - accuracy: 0.5630
Epoch 84/150
119/119 [==============================] - 0s 146us/sample - loss: 1.1019 - accuracy: 0.5714
Epoch 85/150
119/119 [==============================] - 0s 140us/sample - loss: 1.0982 - accuracy: 0.5798
Epoch 86/150
119/119 [==============================] - 0s 158us/sample - loss: 1.0934 - accuracy: 0.5798
Epoch 87/150
119/119 [==============================] - 0s 176us/sample - loss: 1.0897 - accuracy: 0.5714
Epoch 88/150
119/119 [==============================] - 0s 161us/sample - loss: 1.0856 - accuracy: 0.5714
Epoch 89/150
119/119 [==============================] - 0s 164us/sample - loss: 1.0818 - accuracy: 0.5714
Epoch 90/150
119/119 [==============================] - 0s 154us/sample - loss: 1.0789 - accuracy: 0.5966
Epoch 91/150
119/119 [==============================] - 0s 144us/sample - loss: 1.0752 - accuracy: 0.5882
Epoch 92/150
119/119 [==============================] - 0s 126us/sample - loss: 1.0717 - accuracy: 0.5882
Epoch 93/150
119/119 [==============================] - 0s 147us/sample - loss: 1.0686 - accuracy: 0.6134
Epoch 94/150
119/119 [==============================] - 0s 132us/sample - loss: 1.0655 - accuracy: 0.6134
Epoch 95/150
119/119 [==============================] - 0s 114us/sample - loss: 1.0621 - accuracy: 0.6050
Epoch 96/150
119/119 [==============================] - 0s 122us/sample - loss: 1.0600 - accuracy: 0.5966
Epoch 97/150
119/119 [==============================] - 0s 124us/sample - loss: 1.0561 - accuracy: 0.5966
Epoch 98/150
119/119 [==============================] - 0s 115us/sample - loss: 1.0542 - accuracy: 0.6134
Epoch 99/150
119/119 [==============================] - 0s 114us/sample - loss: 1.0510 - accuracy: 0.6134
Epoch 100/150
119/119 [==============================] - 0s 120us/sample - loss: 1.0485 - accuracy: 0.6050
Epoch 101/150
119/119 [==============================] - 0s 121us/sample - loss: 1.0459 - accuracy: 0.6050
Epoch 102/150
119/119 [==============================] - 0s 127us/sample - loss: 1.0427 - accuracy: 0.6050
Epoch 103/150
119/119 [==============================] - 0s 125us/sample - loss: 1.0402 - accuracy: 0.6134
Epoch 104/150
119/119 [==============================] - 0s 126us/sample - loss: 1.0391 - accuracy: 0.6387
Epoch 105/150
119/119 [==============================] - 0s 129us/sample - loss: 1.0364 - accuracy: 0.6387
Epoch 106/150
119/119 [==============================] - 0s 128us/sample - loss: 1.0339 - accuracy: 0.6303
Epoch 107/150
119/119 [==============================] - 0s 146us/sample - loss: 1.0318 - accuracy: 0.6050
Epoch 108/150
119/119 [==============================] - 0s 119us/sample - loss: 1.0304 - accuracy: 0.6134
Epoch 109/150
119/119 [==============================] - 0s 127us/sample - loss: 1.0270 - accuracy: 0.6134
Epoch 110/150
119/119 [==============================] - 0s 147us/sample - loss: 1.0251 - accuracy: 0.6218
Epoch 111/150
119/119 [==============================] - 0s 130us/sample - loss: 1.0237 - accuracy: 0.6218
Epoch 112/150
119/119 [==============================] - 0s 176us/sample - loss: 1.0217 - accuracy: 0.6218
Epoch 113/150
119/119 [==============================] - 0s 139us/sample - loss: 1.0206 - accuracy: 0.6218
Epoch 114/150
119/119 [==============================] - 0s 142us/sample - loss: 1.0187 - accuracy: 0.6303
Epoch 115/150
119/119 [==============================] - 0s 123us/sample - loss: 1.0168 - accuracy: 0.6218
Epoch 116/150
119/119 [==============================] - 0s 125us/sample - loss: 1.0157 - accuracy: 0.6134
Epoch 117/150
119/119 [==============================] - 0s 121us/sample - loss: 1.0130 - accuracy: 0.6218
Epoch 118/150
119/119 [==============================] - 0s 151us/sample - loss: 1.0122 - accuracy: 0.6134
Epoch 119/150
119/119 [==============================] - 0s 224us/sample - loss: 1.0095 - accuracy: 0.6134
Epoch 120/150
119/119 [==============================] - 0s 115us/sample - loss: 1.0093 - accuracy: 0.6134
Epoch 121/150
119/119 [==============================] - 0s 122us/sample - loss: 1.0081 - accuracy: 0.6218
Epoch 122/150
119/119 [==============================] - 0s 126us/sample - loss: 1.0048 - accuracy: 0.6218
Epoch 123/150
119/119 [==============================] - 0s 127us/sample - loss: 1.0042 - accuracy: 0.6134
Epoch 124/150
119/119 [==============================] - 0s 102us/sample - loss: 1.0021 - accuracy: 0.6218
Epoch 125/150
119/119 [==============================] - 0s 123us/sample - loss: 1.0010 - accuracy: 0.6134
Epoch 126/150
119/119 [==============================] - 0s 138us/sample - loss: 1.0006 - accuracy: 0.6134
Epoch 127/150
119/119 [==============================] - 0s 122us/sample - loss: 0.9980 - accuracy: 0.6134
Epoch 128/150
119/119 [==============================] - 0s 181us/sample - loss: 0.9972 - accuracy: 0.6134
Epoch 129/150
119/119 [==============================] - 0s 161us/sample - loss: 0.9955 - accuracy: 0.6134
Epoch 130/150
119/119 [==============================] - 0s 99us/sample - loss: 0.9942 - accuracy: 0.6134
Epoch 131/150
119/119 [==============================] - 0s 125us/sample - loss: 0.9936 - accuracy: 0.6134
Epoch 132/150
119/119 [==============================] - 0s 124us/sample - loss: 0.9924 - accuracy: 0.6134
Epoch 133/150
119/119 [==============================] - 0s 128us/sample - loss: 0.9918 - accuracy: 0.6134
Epoch 134/150
119/119 [==============================] - 0s 110us/sample - loss: 0.9898 - accuracy: 0.6134
Epoch 135/150
119/119 [==============================] - 0s 132us/sample - loss: 0.9886 - accuracy: 0.6218
Epoch 136/150
119/119 [==============================] - 0s 123us/sample - loss: 0.9875 - accuracy: 0.6218
Epoch 137/150
119/119 [==============================] - 0s 143us/sample - loss: 0.9859 - accuracy: 0.6218
Epoch 138/150
119/119 [==============================] - 0s 145us/sample - loss: 0.9854 - accuracy: 0.6134
Epoch 139/150
119/119 [==============================] - 0s 131us/sample - loss: 0.9842 - accuracy: 0.6387
Epoch 140/150
119/119 [==============================] - 0s 130us/sample - loss: 0.9830 - accuracy: 0.6387
Epoch 141/150
119/119 [==============================] - 0s 145us/sample - loss: 0.9820 - accuracy: 0.6387
Epoch 142/150
119/119 [==============================] - 0s 144us/sample - loss: 0.9819 - accuracy: 0.6303
Epoch 143/150
119/119 [==============================] - 0s 125us/sample - loss: 0.9803 - accuracy: 0.6218
Epoch 144/150
119/119 [==============================] - 0s 129us/sample - loss: 0.9791 - accuracy: 0.6303
Epoch 145/150
119/119 [==============================] - 0s 137us/sample - loss: 0.9774 - accuracy: 0.6387
Epoch 146/150
119/119 [==============================] - 0s 132us/sample - loss: 0.9768 - accuracy: 0.6387
Epoch 147/150
119/119 [==============================] - 0s 132us/sample - loss: 0.9760 - accuracy: 0.6387
Epoch 148/150
119/119 [==============================] - 0s 136us/sample - loss: 0.9750 - accuracy: 0.6387
Epoch 149/150
119/119 [==============================] - 0s 139us/sample - loss: 0.9732 - accuracy: 0.6387
Epoch 150/150
119/119 [==============================] - 0s 125us/sample - loss: 0.9731 - accuracy: 0.6471

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

40/1 - 0s - loss: 1.0074 - accuracy: 0.6000
Loss: 1.1386943459510803, Accuracy: 0.6000000238418579

In [20]:
# Make predictions with scaled test data
y_test_pred = nn.predict(X_test_scaled)

In [21]:
y_test

array([[1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.]], dtype=float32)

In [22]:
y_test_pred.round(1)

array([[0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.7, 0.2, 0. , 0. , 0. , 0. ],
       [0.8, 0.1, 0. , 0. , 0. , 0. ],
       [0.3, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0. , 0.1, 0.1, 0.1, 0.6, 0.1],
       [0.1, 0.3, 0.2, 0.3, 0.1, 0. ],
       [0.6, 0.3, 0.1, 0. , 0. , 0. ],
       [0.3, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.7, 0.2, 0. , 0. , 0. , 0. ],
       [0.2, 0.5, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.3, 0.1, 0.1, 0. , 0. ],
       [0.1, 0.2, 0.2, 0.3, 0.1, 0. ],
       [0. , 0. , 0. , 0. , 0.2, 0.7],
       [0.1, 0.3, 0.2, 0.3, 0.1, 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.2, 0.5, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.3, 0.1, 0.1, 0. , 0. ],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.3, 0.5, 0.1, 0.1, 0. , 0. ],
       [0.8, 0.1, 0. , 0. , 0. , 0. ],
       [0.4, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.2, 0.4, 0.2, 0.2, 0. , 0. ],
       [0.9, 0.1, 0. , 0. , 0. , 0. ],
       [0.8, 0.2, 0. , 0. , 0. , 0. ],
       [0.8, 0.1, 0. , 0. , 0. , 0. ],
       [0.2, 0.5, 0.1, 0.1, 0. , 0. ],
       [0.9, 0.1, 0. , 0. , 0. , 0. ],
       [0.7, 0.2, 0. , 0. , 0. , 0. ],
       [0. , 0. , 0.1, 0.1, 0.5, 0.3],
       [0. , 0.1, 0.1, 0.1, 0.5, 0.1],
       [0.5, 0.4, 0.1, 0.1, 0. , 0. ],
       [0.1, 0.2, 0.2, 0.2, 0.3, 0.1]], dtype=float32)

In [23]:
nn.predict_classes(X_test_scaled)

array([0, 1, 0, 0, 1, 0, 0, 1, 0, 4, 1, 0, 1, 0, 0, 0, 0, 1, 0, 3, 5, 3,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 4, 4, 0, 4])

In [24]:
results_df = pd.DataFrame(y_test_values)
y_pred = nn.predict_classes(X_test_scaled)
# results_df['model_results'] = nn.predict_classes(X_test_scaled)
# results_df = nn.predict_classes(X_test_scaled)
# results_df.head(50)

### Saving the model

In [25]:
# # Export our model to HDF5 file
# nn.save("nn_trained_categories_model_.h5")

In [26]:
# new_df.reset_index(inplace=True)
new_results_df["country_name"] =  X_test["country_name"]
new_results_df["predictions"] = y_pred
new_results_df

# new_results_df = new_df.join(results_df).head(50)
# pd.concat([new_df, results_df], axis=1)

NameError: name 'new_results_df' is not defined

In [27]:
new_results_df = new_results_df.dropna()

In [28]:
new_results_df.drop(["population","gdp_per_capita","human_development_index","gender_inequality_index","corruption_perceptions_index","gdp_total",], axis=1)

# new_results_df = new_results_df[["country_name",0,"model_results"]]

,country_name,count_of_medals,medal_grouping,numerical_medal_grouping,0,model_results
0,Afghanistan,1,1-5,1,0,0.0
1,Albania,0,0,0,3,1.0
2,United Arab Emirates,0,0,0,1,1.0
3,Argentina,4,1-5,1,0,0.0
4,Armenia,2,1-5,1,1,1.0
5,Australia,38,31-50,4,0,0.0
6,Austria,17,11-30,3,0,0.0
7,Azerbaijan,9,6-10,2,1,1.0
8,Burundi,0,0,0,0,1.0
9,Belgium,3,1-5,1,3,4.0
10,Benin,0,0,0,1,2.0
11,Burkina Faso,0,0,0,3,0.0
12,Bangladesh,0,0,0,0,1.0
13,Bulgaria,3,1-5,1,0,0.0
14,Bahrain,1,1-5,1,0,1.0
15,Bahamas,1,1-5,1,1,1.0
16,Bosnia and Herzegovina,0,0,0,1,0.0
17,Belarus,16,11-30,3,0,1.0
18,Bolivia,0,0,0,2,0.0
19,Brazil,17,11-30,3,3,2.0
20,Barbados,0,0,0,2,5.0
21,Bhutan,0,0,0,1,2.0
22,Botswana,1,1-5,1,0,0.0
23,Central African Republic,0,0,0,0,1.0
24,Canada,43,31-50,4,0,0.0
25,Switzerland,15,11-30,3,0,1.0
26,Chile,0,0,0,3,1.0
27,China,100,51+,5,0,0.0
28,Cote d'Ivoire,0,0,0,0,1.0
29,Cameroon,1,1-5,1,3,1.0
30,Democratic Republic of the Congo,0,0,0,0,0.0
31,Congo Republic,0,0,0,0,0.0
32,Colombia,8,6-10,2,0,0.0
33,Costa Rica,0,0,0,2,1.0
34,Cuba,15,11-30,3,0,0.0
35,Cyprus,1,1-5,1,0,0.0
36,Czech Republic,19,11-30,3,4,4.0
37,Germany,63,51+,5,4,4.0
38,Denmark,9,6-10,2,0,1.0
39,Dominican Republic,2,1-5,1,5,3.0

In [28]:
new_results_df.set_index("country_name",drop=True)

                                  0  model_results
country_name
Afghanistan                       0            0.0
Albania                           3            0.0
United Arab Emirates              1            0.0
Argentina                         0            0.0
Armenia                           1            1.0
Australia                         0            0.0
Austria                           0            0.0
Azerbaijan                        1            1.0
Burundi                           0            0.0
Belgium                           3            4.0
Benin                             1            1.0
Burkina Faso                      3            0.0
Bangladesh                        0            1.0
Bulgaria                          0            0.0
Bahrain                           0            0.0
Bahamas                           1            0.0
Bosnia and Herzegovina            1            0.0
Belarus                           0            1.0
Bolivia                           2            0.0
Brazil                            3            1.0
Barbados                          2            5.0
Bhutan                            1            1.0
Botswana                          0            0.0
Central African Republic          0            1.0
Canada                            0            0.0
Switzerland                       0            0.0
Chile                             3            1.0
China                             0            0.0
Cote d'Ivoire                     0            1.0
Cameroon                          3            1.0
Democratic Republic of the Congo  0            0.0
Congo Republic                    0            0.0
Colombia                          0            0.0
Costa Rica                        2            1.0
Cuba                              0            0.0
Cyprus                            0            0.0
Czech Republic                    4            4.0
Germany                           4            4.0
Denmark                           0            0.0
Dominican Republic                5            1.0

In [29]:
# new_results_df.to_csv("nn_model_results.csv")