In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [9]:
# importing file and converting to a df
file = "Resourses/OlympicData_mockup.csv"
Olympic_df = pd.read_excel(file, index_col=0)
Olympic_df.index.name='Id'

# check the df
Olympic_df

,Country,Event,Medal,Population,GDP,Gender Inequality Index,Human Dev Index
Id,,,,,,,
2012,USA,10M Platform,Gold,3.138310e+08,1.499205e+13,0.701,0.944
2012,CHN,10M Platform,Silver,1.350695e+09,6.087165e+12,0.281,0.935
2012,GBR,10M Platform,Bronze,6.370022e+07,2.475244e+12,0.432,0.930
2012,CHN,10M Platform,Gold,1.350695e+09,6.087165e+12,0.366,0.923
2012,AUS,10M Platform,Silver,2.273346e+07,1.146138e+12,0.317,0.922
...,...,...,...,...,...,...,...
2014,GBR,Slopestyle,Bronze,6.460230e+07,2.704888e+12,2.948,3.043
2014,USA,Slopestyle,Gold,3.183010e+08,1.619701e+13,2.949,3.044
2014,CAN,Snowboard Cross,Silver,3.543744e+07,1.828689e+12,2.950,3.045
2014,CZE,Snowboard Cross,Gold,1.052535e+07,2.073764e+11,2.951,3.046
2014,FRA,Snowboard Cross,Bronze,6.631207e+07,2.683825e+12,2.952,3.047

In [11]:
# check for null/na values
Olympic_df.isnull().sum()

Country                      4
Event                        0
Medal                        0
Population                   4
GDP                        403
Gender Inequality Index      8
Human Dev Index              4
dtype: int64

In [13]:
# drop rows that are na/null
Olympic_df = Olympic_df.dropna() 
Olympic_df

,Country,Event,Medal,Population,GDP,Gender Inequality Index,Human Dev Index
Id,,,,,,,
2012,USA,10M Platform,Gold,3.138310e+08,1.499205e+13,0.701,0.944
2012,CHN,10M Platform,Silver,1.350695e+09,6.087165e+12,0.281,0.935
2012,GBR,10M Platform,Bronze,6.370022e+07,2.475244e+12,0.432,0.930
2012,CHN,10M Platform,Gold,1.350695e+09,6.087165e+12,0.366,0.923
2012,AUS,10M Platform,Silver,2.273346e+07,1.146138e+12,0.317,0.922
...,...,...,...,...,...,...,...
2014,GBR,Slopestyle,Bronze,6.460230e+07,2.704888e+12,2.948,3.043
2014,USA,Slopestyle,Gold,3.183010e+08,1.619701e+13,2.949,3.044
2014,CAN,Snowboard Cross,Silver,3.543744e+07,1.828689e+12,2.950,3.045
2014,CZE,Snowboard Cross,Gold,1.052535e+07,2.073764e+11,2.951,3.046
2014,FRA,Snowboard Cross,Bronze,6.631207e+07,2.683825e+12,2.952,3.047

In [16]:
# export clean file as csv
Olympic_df.to_csv('Resourses/Olympic_clean_check.csv', index=True)

In [17]:
#check clean file
Olympic_check = pd.read_csv('Resourses/Olympic_clean_check.csv')
Olympic_check

,Id,Country,Event,Medal,Population,GDP,Gender Inequality Index,Human Dev Index
0,2012,USA,10M Platform,Gold,3.138310e+08,1.499205e+13,0.701,0.944
1,2012,CHN,10M Platform,Silver,1.350695e+09,6.087165e+12,0.281,0.935
2,2012,GBR,10M Platform,Bronze,6.370022e+07,2.475244e+12,0.432,0.930
3,2012,CHN,10M Platform,Gold,1.350695e+09,6.087165e+12,0.366,0.923
4,2012,AUS,10M Platform,Silver,2.273346e+07,1.146138e+12,0.317,0.922
...,...,...,...,...,...,...,...,...
2142,2014,GBR,Slopestyle,Bronze,6.460230e+07,2.704888e+12,2.948,3.043
2143,2014,USA,Slopestyle,Gold,3.183010e+08,1.619701e+13,2.949,3.044
2144,2014,CAN,Snowboard Cross,Silver,3.543744e+07,1.828689e+12,2.950,3.045
2145,2014,CZE,Snowboard Cross,Gold,1.052535e+07,2.073764e+11,2.951,3.046
2146,2014,FRA,Snowboard Cross,Bronze,6.631207e+07,2.683825e+12,2.952,3.047

In [20]:
# check Nationalities of olympic medal winners 
country_winner = Olympic_df["Country"].unique()
country_winner

array(['USA', 'CHN', 'GBR', 'AUS', 'RUS', 'MEX', 'CAN', 'TUN', 'HUN',
       'ITA', 'JPN', 'LTU', 'BLR', 'ESP', 'FRA', 'KOR', 'BRA', 'SRB',
       'ETH', 'KEN', 'JAM', 'MAR', 'TUR', 'BRN', 'DOM', 'TTO', 'CZE',
       'UKR', 'IRL', 'CUB', 'EST', 'POL', 'QAT', 'FIN', 'UGA', 'NZL',
       'KAZ', 'COL', 'IND', 'AZE', 'THA', 'TJK', 'UZB', 'SVK', 'NOR',
       'HKG', 'SWE', 'VEN', 'EGY', 'ROU', 'MNE', 'ARG', 'BEL', 'PRK',
       'GEO', 'CYP', 'SGP', 'GAB', 'AFG', 'CMR', 'ARM', 'AUT'],
      dtype=object)