In [1]:
# Import our dependencies
import pandas as pd
from path import Path
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import tensorflow as tf

In [2]:
# Import our clean dataset
file_path = Path("clean_data/combined_olympic_data.csv")
df = pd.read_csv(file_path)
df.head(10)

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,total
0,Afghanistan,33370794,613.856689,0.465,0.676,12,1
1,Albania,2889104,4578.631994,0.733,0.267,33,0
2,United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0
3,Argentina,42669500,12334.798250,0.836,0.364,34,4
4,Armenia,2912403,3986.231624,0.733,0.299,37,2
5,Australia,23475686,62510.791170,0.935,0.123,80,38
6,Austria,8546356,51717.495940,0.885,0.083,72,17
7,Azerbaijan,9535079,7891.313147,0.751,0.330,29,9
8,Burundi,9844297,274.857948,0.400,0.483,20,0
9,Belgium,11209057,47700.540360,0.890,0.076,76,3

In [3]:
df = df.set_index("country_name",drop=True)
df.head()

,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,total
country_name,,,,,,
Afghanistan,33370794,613.856689,0.465,0.676,12,1
Albania,2889104,4578.631994,0.733,0.267,33,0
United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0
Argentina,42669500,12334.798250,0.836,0.364,34,4
Armenia,2912403,3986.231624,0.733,0.299,37,2

In [4]:
new_df = df.rename(columns={"total": "count_of_medals"})
new_df.head()

,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,count_of_medals
country_name,,,,,,
Afghanistan,33370794,613.856689,0.465,0.676,12,1
Albania,2889104,4578.631994,0.733,0.267,33,0
United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0
Argentina,42669500,12334.798250,0.836,0.364,34,4
Armenia,2912403,3986.231624,0.733,0.299,37,2

### Split our preprocessed data into our features and target arrays

In [5]:
# Create our target
y = new_df["count_of_medals"].values

In [6]:
# Create our features
X = new_df.drop(["count_of_medals"], axis=1).values

In [7]:
# Splitting data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=15)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                480
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 2,941
Trainable params: 2,941
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

In [13]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=25,callbacks=[cp_callback])

Train on 119 samples
Epoch 1/25
119/119 [==============================] - 1s 11ms/sample - loss: -35141102.7479 - accuracy: 0.1345
Epoch 2/25
119/119 [==============================] - 0s 166us/sample - loss: -200374982.2521 - accuracy: 0.1261
Epoch 3/25
119/119 [==============================] - 0s 184us/sample - loss: -390830817.3445 - accuracy: 0.1261
Epoch 4/25
119/119 [==============================] - 0s 178us/sample - loss: -528328702.9244 - accuracy: 0.1261
Epoch 5/25
119/119 [==============================] - 0s 215us/sample - loss: -593775624.2689 - accuracy: 0.1261
Epoch 6/25
119/119 [==============================] - 0s 162us/sample - loss: -741922583.6639 - accuracy: 0.1261
Epoch 7/25
119/119 [==============================] - 0s 169us/sample - loss: -846641994.2185 - accuracy: 0.1261
Epoch 8/25
119/119 [==============================] - 0s 113us/sample - loss: -948779557.8487 - accuracy: 0.1261
Epoch 9/25
 32/119 [=======>......................] - ETA: 0s - loss: -183352096.0000 - accuracy: 0.1250
Epoch 00009: saving model to checkpoints/weights.09.hdf5
119/119 [==============================] - 0s 366us/sample - loss: -1078028320.2689 - accuracy: 0.1261
Epoch 10/25
119/119 [==============================] - 0s 174us/sample - loss: -1186566899.0924 - accuracy: 0.1261
Epoch 11/25
119/119 [==============================] - 0s 173us/sample - loss: -1283615355.7143 - accuracy: 0.1261
Epoch 12/25
119/119 [==============================] - 0s 174us/sample - loss: -1405780965.6471 - accuracy: 0.1261
Epoch 13/25
119/119 [==============================] - 0s 167us/sample - loss: -1524798239.4622 - accuracy: 0.1261
Epoch 14/25
119/119 [==============================] - 0s 147us/sample - loss: -1631996903.2605 - accuracy: 0.1261
Epoch 15/25
119/119 [==============================] - 0s 164us/sample - loss: -1740699085.1765 - accuracy: 0.1261
Epoch 16/25
119/119 [==============================] - 0s 160us/sample - loss: -1892159947.0252 - accuracy: 0.1261
Epoch 17/25
 32/119 [=======>......................] - ETA: 0s - loss: -5077139968.0000 - accuracy: 0.0938
Epoch 00017: saving model to checkpoints/weights.17.hdf5
119/119 [==============================] - 0s 270us/sample - loss: -2041710005.7815 - accuracy: 0.1261
Epoch 18/25
119/119 [==============================] - 0s 137us/sample - loss: -2226129752.7899 - accuracy: 0.1261
Epoch 19/25
119/119 [==============================] - 0s 129us/sample - loss: -2367019543.6639 - accuracy: 0.1261
Epoch 20/25
119/119 [==============================] - 0s 152us/sample - loss: -2488052749.9832 - accuracy: 0.1261
Epoch 21/25
119/119 [==============================] - 0s 127us/sample - loss: -2726147099.9664 - accuracy: 0.1261
Epoch 22/25
119/119 [==============================] - 0s 141us/sample - loss: -2857293867.4286 - accuracy: 0.1261
Epoch 23/25
119/119 [==============================] - 0s 166us/sample - loss: -3160410550.8571 - accuracy: 0.1261
Epoch 24/25
119/119 [==============================] - 0s 175us/sample - loss: -3322029615.3277 - accuracy: 0.1261
Epoch 25/25
119/119 [==============================] - 0s 210us/sample - loss: -3565960288.4034 - accuracy: 0.1261

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

40/1 - 0s - loss: -3.3782e+01 - accuracy: 0.0750
Loss: -15.590364837646485, Accuracy: 0.07500000298023224

### Saving the model

In [15]:
# Export our model to HDF5 file
nn.save("DL_trained_model.h5")